# roles/redis/tasks/main.yml
---
- name: "Include {{ ansible_distribution }} variables"
  include_vars: "{{ item }}"
  with_first_found:
    - "{{ ansible_distribution }}.yml"
    - "{{ ansible_os_family }}.yml"
  tags:
    - install
    - configure

- name: "Include {{ ansible_distribution }} tasks"
  include_tasks: "{{ item }}"
  with_first_found:
    - "{{ ansible_distribution }}.yml"
    - "{{ ansible_os_family }}.yml"
  tags: install

- name: Ensure directories exists
  file:
    path: "{{ item.path }}"
    state: directory
    owner: "{{ item.owner | default('openio') }}"
    group: "{{ item.group | default('openio') }}"
    mode: "{{ item.mode | default(0755) }}"
  with_items:
    - path: "/etc/gridinit.d/{{ openio_redis_namespace }}"
    - path: "{{ openio_redis_sysconfig_dir }}/{{ openio_redis_servicename }}"
    - path: "{{ openio_redis_volume }}"
    - path: "{{ openio_redis_pid_directory }}"
    - path: "/var/log/oio/sds/{{ openio_redis_namespace }}/{{ openio_redis_servicename }}"
      owner: "{{ syslog_user }}"
      mode: "0770"
  tags: configure

- name: Ensure Redis pid directory is persistant
  lineinfile:
    dest: /etc/tmpfiles.d/redis.conf
    create: true
    line: "d {{ openio_redis_pid_directory }} 755 openio openio -"
    owner: openio
    group: openio
    mode: 0644
  tags: configure
  when: openio_redis_pid_directory.split(' ')[0] | dirname is match("/run/.*")

- name: Generate configuration files
  template:
    src: "gridinit_redis.conf.j2"
    dest: "{{ openio_redis_gridinit_dir }}/{{ openio_redis_gridinit_file_prefix }}{{ openio_redis_servicename }}.conf"
    owner: openio
    group: openio
    mode: 0644
  register: _gridinit_conf
  tags: configure

- name: Generate {{ openio_redis_type }} configuration
  lineinfile:
    create: true
    dest: "{{ openio_redis_sysconfig_dir }}/\
      {{ openio_redis_servicename }}/{{ openio_redis_type }}.conf"
    line: "{{ line }}"
    mode: 0644
    owner: openio
    group: openio
  with_items: "{{ lookup('template', openio_redis_type ~ '.conf.j2').splitlines() }}"
  loop_control:
    loop_var: line
  register: _redis_conf
  tags: configure

- name: "restart redis to apply the new configuration"
  shell: |
    gridinit_cmd reload
    gridinit_cmd restart  {{ openio_redis_namespace }}-{{ openio_redis_servicename }}
  register: _restart_redis
  when:
    - _redis_conf is changed or _gridinit_conf is changed
    - not openio_redis_provision_only
  tags: configure

- block:
    - name: "Ensure redis is started"
      command: gridinit_cmd start {{ openio_redis_namespace }}-{{ openio_redis_servicename }}
      register: _start_redis
      changed_when: '"Success" in _start_redis.stdout'
      when:
        - not openio_redis_provision_only
        - _restart_redis is skipped
      tags: configure

    - name: check redis
      command: "redis-cli -h {{ openio_redis_bind_address }} -p {{ openio_redis_bind_port }} INFO"
      register: _redis_check
      retries: 3
      delay: 5
      until: _redis_check is success
      changed_when: false
      tags: configure
      when:
        - not openio_redis_provision_only
  when: openio_bootstrap | d(false)
...
