# {{ ansible_managed }}
[Service.{{ openio_redis_namespace }}-redissentinel-{{ openio_redis_serviceid }}]
command=/usr/bin/redis-server /etc/oio/sds/{{ openio_redis_namespace }}/redissentinel-{{ openio_redis_serviceid }}/redis-sentinel.conf --sentinel --daemonize no
enabled=true
start_at_boot=yes
on_die=respawn
group={{ openio_redis_namespace },redissentinel,redissentinel-{{ openio_redis_serviceid }}
uid=openio
gid=openio
limit.stack_size={{ openio_redis_stacktrace_size_limit }}
env.PATH=/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin
