# {{ ansible_managed }}
[Service.{{ openio_redis_namespace }}-{{ service_type }}-{{ openio_redis_serviceid }}]
command=/usr/bin/redis-server /etc/oio/sds/{{ openio_redis_namespace }}/{{ service_type }}-{{ openio_redis_serviceid }}/{{ service_type }}.conf {% if openio_redis_mode == 'sentinel' %}--sentinel {% endif %}--daemonize no
enabled=true
start_at_boot=true
on_die=respawn
group={{ openio_redis_namespace }},{{ service_type }},{{ openio_redis_serviceid }}
uid=openio
gid=openio
limit.stack_size={{ openio_redis_stacktrace_size_limit }}
env.PATH=/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin
