# {{ ansible_managed }}
bind {{ openio_redis_bind_address }}
port {{ service_port }}
dir "{{ openio_redis_volume }}"
daemonize no
pidfile "{{ openio_redis_pid_directory }}/{{ service_type }}-{{ openio_redis_serviceid }}.pid"
logfile "/var/log/oio/sds/{{ openio_redis_namespace }}/{{ service_type }}-{{ openio_redis_serviceid }}/{{ service_type }}-{{ openio_redis_serviceid }}.log"

sentinel monitor {{ openio_redis_master_groupname }} {{ openio_redis_master.address }} {{ openio_redis_master.port }} {{ openio_redis_quorum }}
sentinel down-after-milliseconds {{ openio_redis_master_groupname }} {{ openio_redis_down_after }}
sentinel parallel-syncs {{ openio_redis_master_groupname }} {{ openio_redis_parallel_sync }}
sentinel failover-timeout {{ openio_redis_master_groupname }} {{ openio_redis_failover_timeout }}

min-slaves-to-write 1
min-slaves-max-lag 10

{% if openio_redis_auth_pass %}
sentinel auth-pass {{ openio_redis_master_groupname }} {{ openio_redis_auth_pass }}
{% endif %}
