# {{ ansible_managed }}
daemonize no
pidfile "{{ openio_redis_pid_directory }}/{{ openio_redis_type }}-{{ openio_redis_serviceid }}.pid"
port {{ openio_redis_bind_port }}
tcp-backlog {{ openio_redis_tcp_backlog_queue_size }}
bind {{ openio_redis_bind_address }}
timeout {{ openio_redis_timeout }}
tcp-keepalive {{ openio_redis_tcp_keepalive }}
loglevel {{ openio_redis_loglevel }}
logfile "/var/log/oio/sds/{{ openio_redis_namespace }}/redis-{{ openio_redis_serviceid }}/redis-{{ openio_redis_serviceid }}.log"
databases {{ openio_redis_databases }}
{% for save in openio_redis_saves %}
save {{ save.seconds }} {{ save.changes }}
{% endfor %}
stop-writes-on-bgsave-error yes
rdbcompression yes
rdbchecksum yes
dbfilename dump.rdb
dir "{{ openio_redis_volume }}"
slave-serve-stale-data yes
slave-read-only yes
slave-priority {{ openio_redis_slave_priority }}
repl-diskless-sync no
repl-diskless-sync-delay 5
repl-disable-tcp-nodelay no
appendonly no
appendfilename "appendonly.aof"
appendfsync everysec
no-appendfsync-on-rewrite no
auto-aof-rewrite-percentage 100
auto-aof-rewrite-min-size 64mb
aof-load-truncated yes
lua-time-limit 5000
slowlog-log-slower-than 10000
slowlog-max-len 128
latency-monitor-threshold 0
notify-keyspace-events ""
hash-max-ziplist-entries 512
hash-max-ziplist-value 64
list-max-ziplist-entries 512
list-max-ziplist-value 64
set-max-intset-entries 512
zset-max-ziplist-entries 128
zset-max-ziplist-value 64
hll-sparse-max-bytes 3000
activerehashing yes
client-output-buffer-limit normal 0 0 0
client-output-buffer-limit slave 256mb 64mb 60
client-output-buffer-limit pubsub 32mb 8mb 60
hz 10
aof-rewrite-incremental-fsync yes
maxclients {{ openio_redis_maxclients }}
maxmemory {{ openio_redis_maxmemory }}
